* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* Navbar Styles 
 * using gradient effect for the navbar
*/
nav {
    background: linear-gradient(to right, rgb(32, 47, 112), rgb(30, 42, 97), rgb(19, 19, 121), rgb(14, 14, 95), rgb(15, 15, 85), rgb(10, 17, 83), rgb(7, 13, 63), rgb(7, 13, 66));
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

.nav_list {
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

.nav_list .logo {
    margin-right: auto;
    width: fit-content;
}

.nav_links {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 15px;
}

.nav_links li {
    display: block;
    transition: background-color 0.1s;
    padding: 20px 12px;
}

.nav_links li a {
    display: block; /* Ensure link occupies the entire block */
    color: black;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.1s;
}

/* New styles added */
.nav_links li:hover {
    background: linear-gradient(darkslateblue, slateblue, darkblue, blue);
}

.nav_links li.active {
    background: linear-gradient(blue, darkblue, slateblue, darkslateblue);
}

.nav_links li a:hover {
    color: black;
}

.nav_links li.active a {
    color: black;
}

.icon-container {
    display: flex;
}

.icon-container i {
    font-size: 24px;
    color: blue;
}

.icon-description {
    visibility: hidden;
    width: fit-content;
    background-color: rgba(41, 41, 182, 0.8);
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    opacity: 0;
    transition: 0.1s;
    float: right;
}

.icon-container:hover .icon-description {
    visibility: visible;
    opacity: 1;
}

/* Media Queries for Responsiveness */
@media (max-width: 768px) {
    .nav_list {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        background-color: #333;
    }

    .nav_list li {
        text-align: center;
        padding: 15px 0;
    }
}