* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.wrapper {
  width: 480px;
  height: 520px;
  background: transparent;
  background-color: rgb(17, 23, 68);
  border: 2px solid rgb(25, 31, 82);
  color: black;
  border-radius: 10px;
  padding: 30px 40px;
  text-align: center;
}

.wrapper h1 {
  font-size: 32px;
  text-align: center;
}

.wrapper .input-box {
  position: relative;
  width: 100%;
  height: 50px;
  margin: 30px 0;
}

.input-box input[type=text], input[type=password] {
  width: 100%;
  height: 100%;
  background: transparent;
  border: 2px solid rgb(6, 8, 110); 
  border-radius: 15px;
  font-size: 16px;
  color: black;
  padding: 20px 45px 20px 20px;
}

.input-box input::placeholder {
  color: black;
}

.input-box i {
  position: absolute;
  right: 20px;
  top: 30%;
  transform: translateX(50%);
  font-size: 20px;
  color: blue;
}

.input-box .fa-eye-slash, .fa-eye {
  color: blue;
  right: 50px;
  cursor: pointer;
}

.input-box .fa-eye-slash, .fa-eye:hover {
  color: slateblue;
}

.wrapper .remember-forgot {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  margin: -15px 0 15px;
}

.remember-forgot label input {
  accent-color: auto;
  margin-right: 3px;
}

.remember-me {
  display: block;
  position: relative;
  padding-left: 30px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 16px;
  user-select: none;
}

/* Hide the browser's default checkbox*/
.remember-me input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 18px;
  width: 18px;
  background-color: blue;
}

/* On mouse-over, add a blue-gradient background */
.remember-me:hover input ~ .checkmark {
  background: linear-gradient(blue,darkblue, slateblue, darkslateblue);
}

/* Create the checkmark/indicator (hidden when checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.remember-me input:checked ~ .checkmark::after {
  display: block;
}

/* Style the checkmark/indicator */
.remember-me .checkmark:after {
  left: 6px;
  top: 3px;
  width: 5px;
  height: 8px;
  border: solid ;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.remember-forgot a {
  color: blue;
  font-weight: bold;
  text-decoration: none;
}

.remember-forgot a:hover {
  color: slateblue;
}

.wrapper .login-btn {
  width: 100%;
  height: 45px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  background: linear-gradient(to right, blue, darkblue, slateblue, mediumslateblue, darkslateblue, mediumblue);
  margin-bottom: 10px;
}

.login-btn:hover {
  background: linear-gradient(to right, slateblue, mediumslateblue, darkslateblue);
}

.wrapper #generate-pass-btn {
  width: 70%;
  height: 40px;
  cursor: pointer;
  background: linear-gradient(to right, blue, mediumblue, darkblue);
  border: none;
  border-radius: 20px;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
}

#generate-pass-btn:hover {
  background: linear-gradient(to right, darkslateblue, mediumslateblue, slateblue);
}

.wrapper .register-link {
  font-size: 16px;
  text-align: center;
  margin: 20px 0 15px;
}

.register-link p {
  font-weight: bold;
}

.register-link p a {
  color: black;
  text-decoration: none;
  font-weight: bold;
}

.register-link p a:hover {
  color: slateblue;
}