* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    margin-top: 80px;
    text-align: center;
    color: white;
    margin-bottom: 20px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(7, 110px);
    grid-template-rows: repeat(6, 110px);
    width: 800px;
    height: 700px;
    margin: 0 auto;
    justify-content: center;
    background-color: darkblue;
    border: 10px solid navy;
}

.cell {
    border: 5px solid blue;
    background-color: rgb(3, 3, 49);
    margin-top: 10px;
    margin-left: 10px;
    border-radius: 50%;
    outline: 5px solid blue;
    cursor: pointer;
}

.cell:hover {
    background-color: rgb(16, 16, 139);
}

.restart-btn {
    display: block;
    margin: 0 auto;
    margin-top: 10px;
    background-color: blue;
    border: none;
    border-radius: 20px;
    padding: 12px 30px;
    font-size: 16px;
    cursor: pointer;
    font-weight: bold;
    line-height: 1;
    text-align: center;
}

.restart-btn:hover {
    background-color: navy;
    transition: all 0.3s ease;
}