* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
  }

  .grid {
    display: flex;
    flex-wrap: nowrap;
    width: 600px;
    height: 500px;
  }