* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
    overflow: hidden;
    min-height: 100vh;
}

#container {
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 600px;
    width: 530px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#maze {
    height: 500px;
}

#maze-img {
    margin-top: 20px;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
}

#pacman {
    position: absolute;
    height: 25px;
    width: 25px;
    background: yellow;
    margin-left: 923px;
    margin-top: 367px;
    border-radius: 50%;
    z-index: 2;
}

.ghost {
    position: absolute;
    height: 28px;
    width: 28px;
    z-index: 3;
}

#blinky {
    background: red;
    margin-left: 923px;
    margin-top: 175px;
}

#pinky {
    background: hotpink;
    margin-left: 923px;
    margin-top: 223px;
}

#inky {
    background: cyan;
    margin-left: 891px;
    margin-top: 223px;
}

#clyde {
    background: orange;
    margin-left: 955px;
    margin-top: 223px;
}

#message {
    position: absolute;
    color: white;
    width: 160px;
    text-align: center;
    margin: auto;
    left: 0;
    right: 0;
    margin-top: 274px;
    z-index: 5;
}

#score-board #score-value {
    margin-left: 5px;
}

#score-board, #lives-board {
    margin-top: 20px;
    height: 50px;
    color: white;
    font-size: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(3, 3, 48);
}

#lives-board #lives-text {
    margin-right: 5px;
}

#lives-board img {
    margin-left: 5px;
    width: 30px;
    height: 30px;
}