* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    overflow: hidden;
}

h1 {
    font-size: 40px;
    margin-top: 30px;
    margin-bottom: 30px;
    color: white;
}

#game-canvas {
    border: 3px solid blue;
    border-radius: 10px;
}

#score-board {
    display: flex;
    justify-content: space-between;
    width: 600px;
    margin-bottom: 20px;
    font-size: 18px;
}

#start-btn, #restart-btn {
    background-color: transparent;
    color: blue;
    border: 2px solid blue;
    padding: 10px 30px;
    cursor: pointer;
    transition: all 0.3s;
    letter-spacing: 2px;
    margin-top: 20px;
    border-radius: 20px;
    font-size: 16px;
}

#restart-btn {
    margin-left: 15px;
}

#start-btn:hover, #restart-btn:hover {
    background-color: blue;
    color: white;
}

#game-over-popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(3, 3, 49);
    padding: 40px;
    border-radius: 15px;
    border: 2px solid blue;
}

#game-over-popup h2 {
    font-size: 30px;
    margin-bottom: 10px;
}

#game-over-popup p {
    font-size: 18px;
    text-align: center;
    margin-bottom: 20px;
}