:root {
    --piece-i-color: #00ffff;
    --piece-o-color: #d4ff00;
    --piece-t-color: #bf00ff;
    --piece-s-color: #56fa04;
    --piece-z-color: #0091ff;
    --piece-j-color: #ff0000;
    --piece-l-color: #ffaa00;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

.game-container {
    display: flex;
    gap: 30px;
    background-color: rgb(15, 15, 51);
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 20px blue;
}

canvas {
    border: 2px solid navy;
    box-shadow: 0 0 20px darkblue;
    border-radius: 5px;
}

.side-panel {
    display: flex;
    flex-direction: column;
    gap: 20px;
    min-width: 200px;
}

.next-piece, .score, .level, .lines {
    box-shadow: 0 0 20px darkblue;
    padding: 10px;
    border-radius: 10px;
}

.next {
    margin: 0 0 10px 0;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    display: block;
}

#start-btn {
    background-color: darkblue;
    border: none;
    padding: 10px;
    border-radius: 20px;
    font-size: 17px;
    cursor: pointer;
    transition: all 0.2s ease
}

#start-btn:hover {
    background-color: blue;
    transform: scale(1.1);
}

.score, .level, .lines {
    font-size: 15px;
}