* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.game-container {
  background-color: rgb(4, 4, 68);
  padding: 20px;
  border-radius: 15px;
  border: 2px solid blue;
  width: 400px;
}

.game-container h2 {
  font-size: 30px;
  text-align: center;
}

.content .word {
  margin-top: 20px;
  user-select: none;
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  letter-spacing: 24px;
  margin-right: -24px;
  word-break: break-all;
  text-transform: uppercase;
}

.content .details {
  margin-bottom: 10px;
  text-align: center;
}

.content .details .hint, .details .time {
  margin-bottom: 10px;
}

.details .hint {
  margin-top: 5px;
  color: blue;
  font-weight: bold;
}

.content input {
  border-radius: 5px;
  padding: 8px 20px;
  width: 100%;
  background-color: rgb(3, 3, 54);
  border: 2px solid blue;
  color: blue;
  font-size: 16px;
  text-align: center;
}

.content input:focus {
  border: 2px solid blue;
  box-shadow: 0 0 10px blue;
}

.content input::placeholder {
  color: blue;
  font-size: 16px;
}

.content .buttons {
  display: flex;
  margin-top: 20px;
  justify-content: space-between;
}

.buttons .refresh-word, .check-word {
  border-radius: 20px;
  padding: 8px 16px;
  border: 2px solid blue;
  font-size: 14px;
}

.buttons .refresh-word {
  background-color: rgb(12, 12, 107);
}

.buttons .check-word {
  background-color: navy;
}

.buttons .refresh-word:hover, .buttons .check-word:hover {
  background-color: blue;
  transition: background-color 0.3s ease;
}

@media screen and (max-width: 470px) {
  .game-container h2 {
    font-size: 22px;
    padding: 13px 20px;
  }

  .content .word {
    font-size: 30px;
    letter-spacing: 20px;
    margin-right: -20px;
  }

  .game-container .content {
    margin: 20px 20px 30px;
  }

  .details p {
    font-size: 16px;
    margin-bottom: 8px;
  }

  .content input {
    font-size: 16px;
  }

  .buttons button {
    padding: 14px 0;
    font-size: 16px;
    width: 48%;
  }
}