*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}


body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}

.game-container {
    background: rgb(8, 8, 51);
    border-radius: 15px;
    padding: 30px;
    width: 500px;
    border: 2px solid rgb(9, 9, 110);
}

.game-container label {
    font-size: 16px;
}

h1 {
    margin-bottom: 20px;
    font-size: 36px;
}

.select-diff, .usr-input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    margin-top: 10px;
    border-radius: 5px;
    border: 2px solid blue;
    background-color: rgb(3, 3, 28);
}

.select-diff:focus, .usr-input:focus {
    outline: none;
    box-shadow: 0 0 10px blue;
}

.start, .guess, #next-btn {
    background-color: rgb(14, 14, 148);
    border: none;
    font-size: 16px;
    border-radius: 20px;
    padding: 10px 15px;
    margin-top: 15px;
    margin-bottom: 15px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.start:hover, .guess:hover, #next-btn:hover {
    background-color: rgb(7, 9, 107);
    transform: scale(1.1);
}

.game-area {
    margin-top: 20px;
}

.hint-text {
    font-size: 18px;
    margin: 15px 0;
    color: darkblue;
    font-weight: bold;
}

.score-text {
    margin: 10px 0;
    font-size: 16px;
    font-weight: bold;
    color: blue;
}

.hidden {
    display: none;
}